body {
    
    color: orange;
    font-size: 20px;
    font-weight: 800;
    background-color: lightblue;
}

h1 {
    color: red;
    font-size: 26px;
}

.special {
    color: #800080;
    font-size: xx-large;
}
.introduction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #800000;
}
